<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668562583362-6s3b1c5hlgug1nn9c5jip8dtat1rrg8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668562583362-6s3b1c5hlgug1nn9c5jip8dtat1rrg8a</string>
	<key>API_KEY</key>
	<string>AIzaSyAkpSQXeSQbfWAQu4Lr_yQnfUWB5r_P4Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>668562583362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motivation.TODOAPP</string>
	<key>PROJECT_ID</key>
	<string>swiftui-todolist</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-todolist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668562583362:ios:a5b58667f3558fe4b022db</string>
	<key>DATABASE_URL</key>
	<string>https://swiftui-todolist.firebaseio.com</string>
</dict>
</plist>