<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908686282121-utg2tu2tjnnb6raomgeioi7q80q0ois1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908686282121-utg2tu2tjnnb6raomgeioi7q80q0ois1</string>
	<key>API_KEY</key>
	<string>AIzaSyDWUYTyOvdOh2lANR-WAHldsI3OMIwhPFo</string>
	<key>GCM_SENDER_ID</key>
	<string>908686282121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motivation.gpsreader</string>
	<key>PROJECT_ID</key>
	<string>gpxread-eed6d</string>
	<key>STORAGE_BUCKET</key>
	<string>gpxread-eed6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908686282121:ios:360ad281e6afee1cdfe558</string>
	<key>DATABASE_URL</key>
	<string>https://gpxread-eed6d.firebaseio.com</string>
</dict>
</plist>